body, html
{
    height: 100%;
    padding: 0;
    margin: 0;            
}
div.wrapper1
{
}
div.wrapper1 div.leftPaneHeader
{
    background: url('Images/leftPaneHeader.gif') repeat-x;
    border-top: solid 4px #9eb6ce;
    border-bottom: solid 1px #9eb6ce;
    height: 22px;
}
div.footer
{
    background: url('Images/footer.gif') repeat-x;
    height: 30px;            
    clear: both;
    display: none;
}
.main-splitter
{
    width: auto !important;
}
#divLogo
{
    position: absolute;
    top: 8px;
    left: 10px;
}

.cabecera
{
	border-color: #fff;
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 9pt;
	color: #27413e;
	font-weight: bold;
}
.titulo
{
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 9pt;
	color: #416089;
	font-weight: bold;
}
.supertitulo
{
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 12pt;
	color: #416089;
	font-weight: bold;
}
.tituloblanco
{
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 9pt;
	color: #fff;
}

.plainlink
{
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 8pt;
	color: #567db0;
}
.plaintext
{
	font-family: 'Trebuchet MS' , Verdana;
	font-size: 8pt;
	color: #595959;
}

.contenedor
{
	border: solid 1px #6693cc;
}

.button
{
	border: 1px solid;
	border-color: #4a95c9;
	background: url(../../images/qsfButton.gif) repeat-x;
	font-size: 11px;
	color: #334B6C;
	padding: 0;	
}
.fondo
{
	background: url(../../images/backgroundc.jpg) fixed repeat-x right top;
}
.fondob
{
	background: url(../../images/backgroundb.jpg) fixed repeat-x right top;
}